/*Defualt Theme*/

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
    background-color #bd8f5e

    
.dropdown-menu
     border-top 3px solid #bd8f5e
     
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus

      background-color #bd8f5e
      
.dropdown-menu .divider
    background-color #bd8f5e
    

    
    
.about h1 strong
    color #bd8f5e

.testimonials span
     color #bd8f5e
     
.carousel-indicators .active
    background-color #bd8f5e
     
.testimonials .carousel-indicators li.active
     border 3px solid #bd8f5e
     
     
.price_box p
    border 2px solid #bd8f5e
    
.footer h3
     color #bd8f5e
     
.footer .copyright span
      color #bd8f5e
      
.option-box .color-option
    border 4px solid #bd8f5e
    
.option-box .gear-check
    background-color #bd8f5e
    