@media(max-width:767px)
    .navbar-inverse .navbar-nav>li>a
        padding-bottom 10px
        padding-top 10px
    button, input, optgroup, select, textarea
        margin 20px auto
        
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse
        max-height none
        
/*small screen*/        
@media(min-width: 768px) and (max-width:991px)
    
    
/*meduiem screen*/        
@media(min-width: 992px) and (max-width:1199px)
    
    
/*large screen*/
@media(min-width: 1200px)
